body {
    background-image: url(aesthetic-colorful-cute-pastel-blue-and-green-gradient-wallpaper-illustration-perfect-for-wallpaper-backdrop-postcard-background-banner-vector.jpg);
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    color:white
}

h1 {
    color: white
}

button{
    background-color:rgb(173, 224, 231);
    color:white;
}